#  Unit 2.2 and 2.3 Hacks
> Quiz Corrections and 2.2-3 Hacks
- toc: false
- comments: true
- categories: [Week 25]

## Data Compression Quiz
![Data Compression](images/DataCompressionQuiz.png)

## Extracting Information from Data Quiz
![Quiz](images/ExtractingInfoQuiz.png)

<br>

![Q4](images/Q4Database.png)

- I got this question wrong because I thought the average ticket prices meant how much the tickets were sold for. I realize now that a higher ticket price average would indicate more popularity.

## Using Programs with Data Quiz
![Overview](images/UsingProgramsQuiz.png)

<br>

![Museum Question](images/Q4Museum.png)

- I got this question wrong because I thought it would sort the photographers by year. I realize now that this algorithm does not filter out the unknown years, so this answer is wrong. The correct answer is D.

## Binary Numbers Quiz
![Binary Quiz](images/BinaryNumQuiz.png)

<br>

![Binary Question](images/Q3Data.png)

- I got this question wrong because I forgot strings could be converted into binary. I realize now that strings can be converted to binary, such as with base64. The correct answer is 1, 2, and 3.

# 2.3 Pandas and Dataset Hack

In [8]:
import pandas as pd
df = pd.read_json('files/compResults.json')

#print compResults json file
print(df)


#printing just the competitor number and the ranking
print(df[['Competitor Number','Ranking']].to_string(index=False))

    Competitor Number  Tops  Zones  Ranking
1                1601     0      2       10
2                1602     3      4        2
3                1603     4      4        1
4                1604     2      3        4
5                1605     3      2        3
6                1606     2      2        5
7                1607     1      4        7
8                1608     2      1        6
9                1609     1      1        9
10               1610     1      3        8
 Competitor Number  Ranking
              1601       10
              1602        2
              1603        1
              1604        4
              1605        3
              1606        5
              1607        7
              1608        6
              1609        9
              1610        8

In [9]:
# Sort the competitors by rank
print(df.sort_values(by=['Ranking']))

    Competitor Number  Tops  Zones  Ranking
3                1603     4      4        1
2                1602     3      4        2
5                1605     3      2        3
4                1604     2      3        4
6                1606     2      2        5
8                1608     2      1        6
7                1607     1      4        7
10               1610     1      3        8
9                1609     1      1        9
1                1601     0      2       10

## 2.3 NBA Player Data

In [2]:
import pandas as pd
df = pd.read_csv('files/nba_player.csv')

#print compResults csv file
print(df)

                     name  year_start  year_end position height  weight  \
0          Alaa Abdelnaby        1991      1995      F-C   6-10   240.0
1         Zaid Abdul-Aziz        1969      1978      C-F    6-9   235.0
2     Kareem Abdul-Jabbar        1970      1989        C    7-2   225.0
3      Mahmoud Abdul-Rauf        1991      2001        G    6-1   162.0
4       Tariq Abdul-Wahad        1998      2003        F    6-6   223.0
...                   ...         ...       ...      ...    ...     ...
4544           Ante Zizic        2018      2018      F-C   6-11   250.0
4545             Jim Zoet        1983      1983        C    7-1   240.0
4546            Bill Zopf        1971      1971        G    6-1   170.0
4547          Ivica Zubac        2017      2018        C    7-1   265.0
4548           Matt Zunic        1949      1949      G-F    6-3   195.0

             birth_date                                college
0         June 24, 1968                        Duke University
1         April 7, 1946                  Iowa State University
2        April 16, 1947  University of California, Los Angeles
3         March 9, 1969             Louisiana State University
4      November 3, 1974              San Jose State University
...                 ...                                    ...
4544    January 4, 1997                                    NaN
4545  December 20, 1953                  Kent State University
4546       June 7, 1948                    Duquesne University
4547     March 18, 1997                                    NaN
4548  December 19, 1919           George Washington University

[4549 rows x 8 columns]

In [16]:
import pandas as pd

#read csv and sort 'Duration' largest to smallest
df = pd.read_csv('files/nba_player.csv').sort_values(by=['height'], ascending=False)

print("------Height Top 10------")

print(df.head(5)[['name','position','height']].to_string(index=False))

print("------Height Bottom 10------")
print(df.tail(5)[['name','position','height']].to_string(index=False))

------Height Top 10------
            name position height
      Manute Bol        C    7-7
Gheorghe Muresan        C    7-7
        Yao Ming        C    7-6
   Shawn Bradley        C    7-6
    Chuck Nevitt        C    7-5
------Height Bottom 10------
            name position height
Frank Mangiapane        G   5-10
       Bob Royer        G   5-10
   Zeke Sinicola        G   5-10
    Rollie Seltz      G-F   5-10
   Brevin Knight        G   5-10

## Reflection
- Does it have a good sample size?
    - The competition data has a good sample size, and many components to the data, however, there could be more competitors added. But, realistically, a competition results would look like this.
    - The NBA data has a very large sample size.
- Does the data set need to be cleaned?
    - There aren't any pieces of data that need to be cleaned at the moment, however if a string was added in the ranking category it would need to be.
- What is the purpose of the data set?
    - The purpose of the data set was to show the number of tops, zones, and the ranking of the competitors in a climbing competition.
    - The purpose of the NBA data set is to show the stats of the all NBA players since 1950. I used pandas to only print the top five tallest and shortest players.